body {
    font-size: 15px;
}

.signup {
    padding: 100px 0px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    border-radius: 10px;
    background-color: white;
    display: flex;
    width: 1200px;
}

.signup-container img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;

}

.signup-container .content {
    padding: 70px 50px;
}

.signup-container .content .input-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
}


.signup-container .content .input-container input {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 12px;
    width: 370px;
}

.signup-container .content button {
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 7px;
    float: right;
    margin-top: 20px;
}


.signup-container .content .top-nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 30px;
    margin-bottom: 30px;

}

.signup-container .content .top-nav p span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    /* color: rgb(255, 244, 244) */
}

.signup-container .content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-container .content p {
    color: grey;
}

#error {
    color: red;
}

#signupMessage,
#signupCheckbox {
    color: black;
    background: rgb(223, 223, 223);
}

#dob {
    display: flex;
    flex-direction: row-reverse;
}

.red {
    background-color: rgb(255, 244, 244);
    border: 1px solid red;
}

#address {
    width: 770px;
}