.checkbox {
    padding: 100px 0px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container {
    border-radius: 10px;
    background-color: white;
    display: flex;
    width: 1200px;
}

.checkbox-container img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;

}

.checkbox-container .content {

    padding: 70px 50px
}

/* .checkbox-container .content .input-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
} */

.checkbox-container .content .input-container textarea {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 12px;
    width: 700px;
}

.checkbox-container .content button {
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 7px;
    float: right;
    margin-top: 20px;
}

.checkbox-container .content .top-nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 30px;
    margin-bottom: 30px;

}

.checkbox-container .content .top-nav p span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    /* color: rgb(255, 244, 244) */
}

.checkbox-container .content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.checkbox-container .content p {
    color: grey;
}

.male-label2 {
    margin-right: 30px;
    display: inline-block;
    padding: 40px 100px;
    border: 1px solid grey;
    margin-right: 30px;
    border-radius: 6px;
    /* margin-bottom: 30px; */
    cursor: pointer;
}

.female-label2 {
    margin-right: 30px;
    display: inline-block;
    /* margin-bottom: 30px; */
    padding: 40px 100px;
    border: 1px solid grey;
    border-radius: 6px;
    cursor: pointer;
}

.male-label1 {
    margin-right: 30px;
    display: inline-block;
    padding: 40px 100px;
    border: 1px solid blue;
    margin-right: 30px;
    border-radius: 6px;
    /* margin-bottom: 30px; */
    cursor: pointer;
    background-color: rgb(228, 237, 255);
}

.female-label1 {
    margin-right: 30px;
    display: inline-block;
    /* margin-bottom: 0px; */
    padding: 40px 100px;
    border: 1px solid blue;
    border-radius: 6px;
    cursor: pointer;
    background-color: rgb(228, 237, 255);
}

.option1 {
    margin-top: 30px;
}

#checkboxMessage,
#checkboxSignup {
    color: black;
    background: rgb(223, 223, 223);
}

#option1,
#option2 {
    margin-right: 20px;
}

#male,
#female {
    display: none;
}

#checkboxBack {
    background: white;
    color: black;
}