.message {
    padding: 100px 0px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-container {
    border-radius: 10px;
    background-color: white;
    display: flex;
    width: 1200px;
}

.message-container img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;

}

.message-container .content {
    padding: 70px 50px
}

/* .message-container .content .input-container {} */

.message-container .content .input-container textarea {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 8px;
    padding: 12px;
    width: 700px;
}

.message-container .content button {
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 7px;
    float: right;
    margin-top: 20px;
}


.message-container .content .top-nav {
    display: flex;
    gap: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 30px;
    margin-bottom: 30px;

}

.message-container .content .top-nav p span {
    background-color: blue;
    padding: 5px 10px;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    /* color: rgb(255, 244, 244) */
}

.message-container .content h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.message-container .content p {
    color: grey;
}

#messageSignup,
#messageCheckbox {
    color: black;
    background: rgb(223, 223, 223);
}

#radio1,
#radio2 {
    margin-right: 10px;
}

#radio1Label {
    margin-right: 30px;
}

#red {
    background-color: rgb(255, 244, 244);
}

#messageBack {
    background: white;
    color: black;
}

.messages-bottom-radio {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(223, 223, 223);
}